.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.location-bar {
  padding: 10px 0; 
  color: rgb(0, 0, 0); 
  display: flex; 
  align-items: center; 
  justify-content: flex-start; 
}

.location-bar .container {
  text-align: left;
  flex-grow: 1; 
}

.location-bar input[type="text"] {
  margin-left: 10px;
  padding: 5px;
}

.location-bar select {
  margin-left: 20px;
  padding: 5px;
}

.location-bar button {
  margin-left: 20px; 
  padding: 5px;
  border: none;
}

.nav-link-hover:hover {
  background-color: #3a3e4234; 
  color: white; 
  border-radius: 5px;
  padding: 5px 10px; 
}

/* weather city */
.weather-city .container{
  text-align: left; 
  padding-left: 15px;
}

/* weather info */
.weather-info {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 15%;
  padding-top: 20px;
}

.weather-icon {
  width: 100px; 
  height: auto;
}

.temperature-display {
  font-size: 2em; 
  padding-left: 5%;
  padding-right: 5%;
}

.weather-details {
  margin-left: 20px;
  width: 350px;
  border-left: 1px solid #ccc; /* Vertical line */
}

.weather-details li {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc; /* Horizontal line */
}

.weather-details li:last-child {
  border-bottom: none; /* Remove the border for the last item */
}


.activity-recommendation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.recommendation-text h5 {
  font-weight: bold;
}

.recommendation-text p {
  margin: 0;
}



/* Light theme styles (default) */
body {
  background-color: white;
  color: black;
}

/* Dark theme styles */
body.dark-mode {
  background-color: black;
  color: white;
  /* other dark theme styles */
}
